definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    identifier:
      database: SMOOTHIES
      schema: PUBLIC
      name: CUSTOM_SMOOTHIE_ORDER_FORM
    title: Smoothie Orders pending Form
    query_warehouse: COMPUTE_WH
    compute_pool: SYSTEM_COMPUTE_POOL_CPU
    run_mode: SpcsOnly
    execute_as: OWNER
    main_file: Orders.py
    artifacts:
      - pyproject.toml
      - Orders.py
      - .streamlit/config.toml
